@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400");
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: Montserrat, sans-serif;
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

.container-body {
  background-color: white;
  height: 100vh;

}

.bubbles {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23727272' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.curves {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%237a7a7a' stroke-width='8' stroke-opacity='0.9'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.geometric {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23acacac' fill-opacity='1'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.moorish {
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a3a3a3' fill-opacity='1'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}



.section {
  padding: 2.5em;
  width: 50vw;
  color: white;
  border: 2px solid black;
}

.section h1 {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 0.15em;
  margin: 0 0 0.5em;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
}

.section p {
  font-weight: 300;
  margin-bottom: 1em;
  line-height: 1.4em;
}

.section p:last-child {
  margin-bottom: 0;
}

#sec1 {
  background: hsl(180, 30%, 45%, 90%);
}

#sec2 {
  background: hsl(220, 30%, 45%, 90%);
}

#sec3 {
  background: hsl(260, 30%, 45%, 90%);
}

.grid {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vh 50vh;
  grid-template-areas:
    "left right-up"
    "left right-down";

}

.left {
  grid-area: left;

}

.right-up {
  grid-area: right-up;

}

.right-down {
  grid-area: right-down;

}



.container-form {
  background-color: transparent;
  color: black;
  text-align: center;
  box-shadow: 6px 8px 10px black;

}

.container-form h2 {
  font-weight: 200;
  font-size: 1.7em;
  letter-spacing: 0.15em;
  margin: 0 0 0.5em;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 90%);
}


#sec2 .content {
  font-size: 1rem;
  color: white;
}

#sec2 .content a {
  font-size: 0.8rem;
  color: white;
  text-decoration-line: none;
  text-align: center;
}

#sec2 .content table {
  width: 100%;
  height: 90%;
}

#sec3 .content {
  font-size: 1.2rem;
  color: white;
}

#sec3 .content a {
  font-size: 1rem;
  color: white;
  text-decoration-line: none;
  text-align: center;
}

#sec3 .content table {
  width: 100%;
  height: 90%;
}

body::-webkit-scrollbar {
  display: none;
}



@media (max-width: 768px) {

  .section {
    width: 100%;
  }


}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: 100%;
    /* Switch to a single column layout */
    grid-template-rows: auto auto auto;
    /* Adjust the rows */
    grid-template-areas:
      "left"
      "right-up"
      "right-down";
  }

  .section {
    width: 100%;
    /* Make sections full width */
    margin: 1em 0;
  }

  .section h1 {
    font-size: 1.8rem;
  }

  .section p {
    font-size: 1rem;
  }

  .container-form {
    padding: 1em;
  }

  .container-form h2 {
    font-size: 1.3rem;
  }

  /* Initially hide the URL form */
  #urlForm {
    display: none;
  }
}

.tableFixHead { 
  color: white;
  width: 100%; 
  border-collapse: collapse; 
  background-color: transparent;
} 
  .tableFixHead tbody { 
  display: block; 
  width: 100%; 
  overflow: auto; 
  height: 35rem ; 
  font-size: 0.8rem;
  text-align: justify;
  border:1px solid black;
} 
.tableFixHead thead tr { 
  display: block; 
  font-size: 1.2rem;
  text-decoration: underline;
  text-align: justify;
} 
.tableFixHead th, 
.tableFixHead  td { 
  padding: 5px 6px; 
  width: 30rem;  
} 


.tableFixHead td{
  border:1px solid black;
}
/* width */
::-webkit-scrollbar {
  display:none;
}
